.social-links-container{
    display: flex;
    align-items: center;

    height: 40px;
    padding: 10px;
}

.icon {
    padding: 10px 20px;
}

.icon-image {
    height: 20px;
    width: 20px;
}

.icon-image:hover {
    transform: translateY(-2px);
}
