.about-section-heading {
    margin: 15px 0;

    font-size: 40px;
    font-weight: bold;
    color: var(--text-color-100);
}

.about-section-subheading {
    margin: 15px 0;

    font-size: 20px;
    color: var(--text-color-100);
}

.about-section-subheading:last-of-type {
    border-bottom: 1px solid var(--divider-color-20);
    padding-bottom: 30px;
}

.category-title {
    margin: 20px 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color-64);
}

@media only screen and (max-width: 450px) {
    .about-section-heading {
        text-align: center;
    }

    .about-section-subheading {
        text-align: center;
    }
}