.navigation-container {
    padding: 20px 10px;
}

@media only screen and (max-width: 450px) {
    .navigation-container {
        display: none;
    }
}

.navigation-item {
    margin: 10px;
    font-weight: 500;
    color: var(--text-color-100);
    background-color: var(--background-color-03);
    border-radius: 5px;
}

.navigation-item:hover {
    cursor: pointer;
    background-color:  var(--background-color-10);
}

.navigation-link {
    display: block;
    
    padding: 20px 20px;

    text-decoration: none;
    color: inherit;
}