.navigation-container {
    padding: 20px 10px;
}

.navigation-item {
    margin: 10px;
    
    font-weight: 500;
    color: rgba(0, 47, 52, 1);
    background-color: rgba(0, 47, 52, .03);
    border-radius: 5px;
}

.navigation-item:hover {
    cursor: pointer;
    background-color: rgba(0, 47, 52, .10);
}

.navigation-link {
    display: block;
    
    padding: 20px 20px;

    text-decoration: none;
    color: inherit;
}