.videos-container {
    padding: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.video {
    width: 320px;
    height: 155px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 20px 0;
}

.video-title {
    font-weight: bold;
    color: var(--text-color-64);
    margin: 20px 0;
}

@media only screen and (max-width: 450px){
    .videos-container {
        flex-direction: column;
    }
}
