.section {
    padding: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 47, 52, .2);
    margin-bottom: 50px;
}

@media only screen and (max-width: 450px) {
    .section {
        padding: 20px;
        border: none;
        margin-bottom: 0px;
        width: calc(100% - 40px);
    }

    .section:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 47, 52, .2);;
    }
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 47, 52, 1);
    text-transform: uppercase;

}