.section {
    padding: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 47, 52, .2);
    margin-bottom: 50px;
}

.section-title{

    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 47, 52, 1);
    text-transform: uppercase;

}