.tag {
    display: inline-block;

    margin: 10px 20px;
    border: 1px solid var(--divider-color-20);
    border-radius: 5px;
    padding: 10px 25px;

    color: var(--text-color-100);
    box-shadow: 0 0 2px 2px var(--divider-color-20);
}

.tag:hover {
    background-color: var(--background-color-10);
    box-shadow: none;
}

@media only screen and (max-width: 450px) {
    .tag {
        margin: 5px 10px;

        box-shadow: 0 0 3px 3px var(--background-color-03);
    }
}