.blogs-container {
    padding: 20px 0 0 0;
}

.blog-container {
    display: flex;
    padding: 20px 0;
}

.blog-container:not(:last-of-type) {
    border-bottom: 1px solid  var(--divider-color-20);
}

.blog-image {
    height: 150px;
    width: 280px;
}

.blog-details {
    margin-left: 20px;
    color: var(--text-color-100);
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 0.8;
}

.blog-description {
    margin-bottom: 20px;
}

.blog-link {
    text-decoration: underline;
    color: var(--text-color-100);
    font-weight: bold;
}

.blog-link:hover {
    font-weight: normal;
    cursor: pointer;
}

@media only screen and (max-width:450px) {
    .blog-container {
        flex-direction: column;
    }

    .blog-details {
        margin-left: 0px;
        margin-top: 20px;
    }

    .blog-image {
        width: 100%;
    }
}